.login-button {
  background-color: #00833E;
  border-color: #00833E;
  transition: all 0.3s;
}

.login-button:hover {
  background-color: #006B32 !important;
  border-color: #006B32 !important;
}

.login-button:active {
  background-color: #005A2B !important;
  border-color: #005A2B !important;
}

.login-button:focus {
  background-color: #00833E !important;
  border-color: #00833E !important;
}
:root{
  .ant-input:-webkit-autofill,
  .ant-input:-webkit-autofill:hover, 
  .ant-input:-webkit-autofill:focus,
  .ant-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #333 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
}